@model IEnumerable<Grow.Models.Household>

@{
    ViewData["Title"] = "Household Income Report";
}

<a asp-action="Index">Back to Reports</a>
<br />

<h1>Household Income Report</h1> <br />

<form id="IncomeForm" asp-action="HouseholdIncome" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <div class="form-group row">
        <div class="form-group col-md-5">
            <label id="lblError" style="color: red;"></label> <br/>
            <label class="control-label">Filter by Income:</label> <br />
            $@Html.TextBox("LowRange", null, new { @id = "txtLow", @class = "form-control", @style = "display: inline; width: 100px;" })
            <label>&nbsp;&nbsp; to &nbsp;&nbsp;</label>
            $@Html.TextBox("HighRange", null, new { @id = "txtHigh", @class = "form-control", @style = "display: inline; width: 100px;" })&emsp;
            <input id="btnFilter" value="Filter" class="btn btn-outline-primary" style="width: 62px;" />
            <a asp-action="HouseholdIncome" class="btn btn-outline-dark" style="display: inline;">Clear</a>
        </div>
        <div class="col form-check float-right align-baseline">
            <partial name="_HouseholdIncomeGraph" />
            <br />
            <a asp-action="DownloadHouseholdIncome" asp-route-exclInactive="@ViewData["ExclInactive"]" asp-route-lowRange="@ViewData["lowRange"]" asp-route-highRange="@ViewData["highRange"]" class="btn btn-info float-right">Download Report</a> <br />
            <br />
            <label class="form-check-label float-right">
                <input class="form-check-input" type="checkbox" checked="@ViewData["ExclInactive"]" name="cbInactive" id="cbInactive" /> Exclude Inactive Households
            </label>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Membership No." class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Household Name" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Total Income" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseholdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncomeTotal)
                    </td>
                    <td>
                        <a asp-controller="Households" asp-action="Details" asp-route-id="@item.ID">View Household</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>

@section Scripts{
    <script>
        $(document).ready(function () {

            var exclInactive = JSON.parse('@Html.Raw(Json.Serialize(ViewData["ExclInactive"]))');

            if (exclInactive == true) {
                $("#cbInactive").val(true);
            }

            $("#cbInactive").click(function () {

                if ($("#cbInactive").prop("checked") == true) {
                    $("#cbInactive").val(true);
                }
                else {
                    $("#cbInactive").val(false);
                }
                $("#IncomeForm").submit();
            });

            $("#btnFilter").click(function () {
                var low = $("#txtLow").val();
                var high = $("#txtHigh").val();

                if (high != "") {

                    if ((low == "" || $.isNumeric(low)) && $.isNumeric(high)) {

                        if (low == "") {
                            low = 0;
                            $("#txtLow").val(0);
                        }

                        if ((low * 1) < (high * 1)) {
                            $("#txtLow").val(low * 1);
                            $("#txtHigh").val(high * 1);
                            $("#IncomeForm").submit();
                        }
                        else {
                            $("#lblError").empty();
                            $("#lblError").append("Low range must be less than high range.");
                        }
                    }
                    else {
                        $("#lblError").empty();
                        $("#lblError").append("Values must be numeric.");
                    }
                }
                else {
                    $("#lblError").empty();
                    $("#lblError").append("You must enter a high range to filter by income.");
                }
            });

            $("#txtLow").focus(function () {
                $("#lblError").empty();
            });

            $("#txtHigh").focus(function () {
                $("#lblError").empty();
            });

        });
    </script>
}