@model Grow.Models.Member

<h2>Create Member</h2>
<br />
<form asp-controller="HouseholdMembers" asp-action="Create" method="post" enctype="multipart/form-data" id="theMemberForm">
    <div class="row">
        <div class="col-md-5">
            <input type="hidden" asp-for="HouseholdID" value="@ViewData["HouseholdID"]" />
            <input type="hidden" asp-for="IncomeAmount" value="0" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input id="txtDOB" asp-for="DOB" class="form-control" />
                <span id="valDOB" asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.Genders">
                    <option value="">Select a Gender</option>
                </select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control" style="max-height: 200px;"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DataConsent" /> @Html.DisplayNameFor(model => model.DataConsent)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Income Verification Documents:</label><br />
                <input id="files" type="file" class="" name="theFiles" multiple="multiple" />
            </div><br />
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="MemberRestrictions" class="control-label"></label>
                <div class="row">
                    <div class="col-5 mr-0">
                        <input type="text" value="Available Restrictions" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("availRestrictionOptions", (MultiSelectList)ViewBag.availOptsR, new { @id = "availRestrictionOptions", @size = 5, @class = "form-control" })
                    </div>
                    <div class="col-1 ml-0 mr-0 my-auto">
                        <div class="row mb-2">
                            <div class="col-12">
                                <button type="button" id="btnAddR" class="btn btn-success btn-sm" style="width: 30px;"><strong>+</strong></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" id="btnRemoveR" class="btn btn-danger btn-sm" style="width: 30px;"><strong>-</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 ml-0">
                        <input type="text" value="Selected Restrictions" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("selectedRestrictionOptions", (MultiSelectList)ViewBag.selOptsR, new { @id = "selectedRestrictionOptions", @size = 5, @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MemberConcerns" class="control-label"></label>
                <div class="row">
                    <div class="col-5 mr-1">
                        <input type="text" value="Available Concerns" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @id = "availOptions", @size = 5, @class = "form-control" })
                    </div>
                    <div class="col-1 ml-0 mr-0 my-auto">
                        <div class="row mb-2">
                            <div class="col-12">
                                <button type="button" id="btnAddC" class="btn btn-success btn-sm" style="width: 30px;"><strong>+</strong></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" id="btnRemoveC" class="btn btn-danger btn-sm" style="width: 30px;"><strong>-</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 ml-1">
                        <input type="text" value="Selected Concerns" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("selectedHealthOptions", (MultiSelectList)ViewBag.selOpts, new { @id = "selectedHealthOptions", @size = 5, @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Income Source(s)</label>
                <hr />
                <div>
                    <div id="IncomeSource1" style="display: none;">
                    <div class="row">
                        <div class="col-6">
                            <label class="control-label">Source</label>
                            <select id="ddl1" class="form-control" asp-items="ViewBag.IncomeSources">
                                <option value="-1">Select an Income Source</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="control-label">Income Amount</label>
                            <input type="number" id="txt1" min="0" class="form-control" />
                        </div>
                        <div class="col-1">
                            <a>
                                <span data-number="1" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                            </a>
                        </div>
                    </div>
                        <span id="valIS1" class="text-danger"></span>
                    <br />
                </div>
                <div id="IncomeSource2" style="display: none;">
                    <div class="row">
                        <div class="col-6">
                            <label class="control-label">Source</label>
                            <select id="ddl2" class="form-control" asp-items="ViewBag.IncomeSources">
                                <option value="-1">Select an Income Source</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="control-label">Income Amount</label>
                            <input type="number" id="txt2" min="0" class="form-control" />
                        </div>
                        <div class="col-1">
                            <a>
                                <span data-number="2" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                            </a>
                        </div>
                    </div>
                    <span id="valIS2" class="text-danger"></span>
                    <br />
                </div>
                <div id="IncomeSource3" style="display: none;">
                    <div class="row">
                        <div class="col-6">
                            <label class="control-label">Source</label>
                            <select id="ddl3" class="form-control" asp-items="ViewBag.IncomeSources">
                                <option value="-1">Select an Income Source</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="control-label">Income Amount</label>
                            <input type="number" id="txt3" min="0" class="form-control" />
                        </div>
                        <div class="col-1">
                            <a>
                                <span data-number="3" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                            </a>
                        </div>
                    </div>
                    <span id="valIS3" class="text-danger"></span>
                    <br />
                </div>
                </div><br />
                <a>
                    <span id="btnAddIncome" class="btn btn-success"><strong>&#x271A; Add Income Source</strong></span>
                </a>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncomeVerified" /> @Html.DisplayNameFor(model => model.IncomeVerified)
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="submitMemberForm" />
            </div>
        </div>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/multiselect.js"></script>
<script src="~/js/incomeSources.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}