@model Grow.Models.Member

<h2>Edit Member</h2>
<br />
<form asp-controller="HouseholdMembers" asp-route-id="@Model.ID" asp-action="Edit" method="post" enctype="multipart/form-data" id="theMemberForm">
    <div class="row">
        <div class="col-md-5">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="HouseholdID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.Genders">
                    <option value="">Select a Gender</option>
                </select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control" style="max-height: 200px;"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DataConsent" /> @Html.DisplayNameFor(model => model.DataConsent)
                </label>
            </div>
            @if (Model.MemberDocuments.Count() > 0)
            {
                <div class="form-group">
                    <label class="control-label">Current Documents:</label>
                    <div class="ml-md-3">
                        @{
                            int fileCount = Model.MemberDocuments.Count();
                            if (fileCount > 0)
                            {
                                var firstFile = Model.MemberDocuments.FirstOrDefault(); ;
                                if (fileCount > 1)
                                {
                                    <a class="" role="button" data-toggle="collapse" href="#collapseSum@(Model.ID)" aria-expanded="false" aria-controls="collapseSum@(Model.ID)">
                                        <span class="badge badge-info">@fileCount</span> Current Documents...
                                    </a>
                                    <div class="collapse" id="collapseSum@(Model.ID)">
                                        @{
                                            foreach (var d in Model.MemberDocuments)
                                            {
                                                <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                                }
                            }
                        }
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="control-label">Income Verification Documents:</label><br />
                <input type="file" class="" name="theFiles" multiple="multiple" />
            </div><br />
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="MemberRestrictions" class="control-label"></label>
                <div class="row">
                    <div class="col-5 mr-0">
                        <input type="text" value="Available Restrictions" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("availRestrictionOptions", (MultiSelectList)ViewBag.availOptsR, new { @id = "availRestrictionOptions", @size = 5, @class = "form-control" })
                    </div>
                    <div class="col-1 ml-0 mr-0 my-auto">
                        <div class="row mb-2">
                            <div class="col-12">
                                <button type="button" id="btnAddR" class="btn btn-success btn-sm" style="width: 30px;"><strong>+</strong></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" id="btnRemoveR" class="btn btn-danger btn-sm" style="width: 30px;"><strong>-</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 ml-0">
                        <input type="text" value="Selected Restrictions" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("selectedRestrictionOptions", (MultiSelectList)ViewBag.selOptsR, new { @id = "selectedRestrictionOptions", @size = 5, @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MemberConcerns" class="control-label"></label>
                <div class="row">
                    <div class="col-5 mr-1">
                        <input type="text" value="Available Concerns" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @id = "availOptions", @size = 5, @class = "form-control" })
                    </div>
                    <div class="col-1 ml-0 mr-0 my-auto">
                        <div class="row mb-2">
                            <div class="col-12">
                                <button type="button" id="btnAddC" class="btn btn-success btn-sm" style="width: 30px;"><strong>+</strong></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" id="btnRemoveC" class="btn btn-danger btn-sm" style="width: 30px;"><strong>-</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 ml-1">
                        <input type="text" value="Selected Concerns" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("selectedHealthOptions", (MultiSelectList)ViewBag.selOpts, new { @id = "selectedHealthOptions", @size = 5, @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Income Source(s)</label>
                <hr />
                <div>
                    @if (Model.MemberIncomes.Count() >= 1)
                    {
                        <div id="IncomeSource1">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl1" name="IncomeSource1" class="form-control" asp-items="ViewBag.IncomeSources1">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" name="IncomeAmount1" id="txt1" value="@Model.MemberIncomes.ElementAt(0).IncomeAmount" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="1" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div id="IncomeSource1" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl1" class="form-control" asp-items="ViewBag.IncomeSources1">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" id="txt1" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="1" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                    @if (Model.MemberIncomes.Count() >= 2)
                    {
                        <div id="IncomeSource2">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl2" name="IncomeSource2" class="form-control" asp-items="ViewBag.IncomeSources2">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" name="IncomeAmount2" id="txt2" value="@Model.MemberIncomes.ElementAt(1).IncomeAmount" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="2" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div id="IncomeSource2" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl2" class="form-control" asp-items="ViewBag.IncomeSources2">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" id="txt2" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="2" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                    @if (Model.MemberIncomes.Count() == 3)
                    {
                        <div id="IncomeSource3">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl3" name="IncomeSource3" class="form-control" asp-items="ViewBag.IncomeSources3">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" name="IncomeAmount3" id="txt3" value="@Model.MemberIncomes.ElementAt(2).IncomeAmount" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="3" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div id="IncomeSource3" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl3" class="form-control" asp-items="ViewBag.IncomeSources3">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" id="txt3" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="3" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <br />
                        </div>
                    }
                </div><br />

                <a>
                    @if (Model.MemberIncomes.Count() == 3)
                    {
                        <span id="btnAddIncome" class="btn btn-success" style="display: none;"><strong>&#x271A; Add Income Source</strong></span>
                    }
                    else
                    {
                        <span id="btnAddIncome" class="btn btn-success"><strong>&#x271A; Add Income Source</strong></span>
                    }
                </a>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncomeVerified" /> @Html.DisplayNameFor(model => model.IncomeVerified)
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="submitMemberForm" />
            </div>
        </div>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/multiselect.js"></script>
<script src="~/js/incomeSources.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}