@model Grow.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneFormatted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneFormatted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncomeAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeVerified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncomeVerified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Household)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Household.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender.GenderType)
        </dd>
        @if (Model.MemberStatus.Count >= 1)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MemberStatus)
            </dt>
            <dd class="col-sm-10">
                @foreach (var ms in Model.MemberStatus)
                {
                    @ms.FinancialStatus.Status <br />
                }
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberRestrictions)
        </dt>
        <dd class="col-sm-10">
            @foreach (var mr in Model.MemberRestrictions)
            {
                @mr.DietaryRestrictions.Restriction <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a href='@ViewData["returnURL"]'>Back to List</a>
</div>
