@model Grow.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DOB)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DOB)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PhoneFormatted)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PhoneFormatted)
                </dd>
                @if (Model.Email != null)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                }
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IncomeAmount)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IncomeAmount)
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IncomeVerified)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IncomeVerified)
                </dd>
                @if (!String.IsNullOrEmpty(Model.IncomeVerifiedBy))
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IncomeVerifiedBy)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IncomeVerifiedBy)
                    </dd>
                }
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Household)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Household.StreetName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Gender.GenderType)
                </dd>
                @if (Model.MemberIncomes.Count() > 0)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.MemberIncomes)
                    </dt>
                    <dd class="col-sm-8">
                        @foreach (var ms in Model.MemberIncomes)
                        {
                            <text>@ms.IncomeSource.Source - @ms.IncomeAmount</text><br />
                        }
                    </dd>
                }
                @if (Model.MemberRestrictions.Count() > 0)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.MemberRestrictions)
                    </dt>
                    <dd class="col-sm-8">
                        @foreach (var mr in Model.MemberRestrictions)
                        {
                            @mr.DietaryRestriction.Restriction <br />
                        }
                    </dd>
                }
                @if (Model.MemberConcerns.Count() > 0)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.MemberConcerns)
                    </dt>
                    <dd class="col-sm-8">
                        @foreach (var mr in Model.MemberConcerns)
                        {
                            @mr.HealthConcern.Concern <br />
                        }
                    </dd>
                }
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Households" asp-action="Details" asp-route-id="@Model.HouseholdID">Back to Household</a>
</div>
