@model Grow.Models.Member

<h2>Edit Member</h2>
<br />
<form asp-controller="Members" asp-route-id="@Model.ID" asp-action="Edit" method="post" enctype="multipart/form-data" id="theMemberForm">
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="HouseholdID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>*
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>*
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>*
                <input id="txtDOB" asp-for="DOB" class="form-control" />
                <span id="valDOB" asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label>*
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.Genders">
                    <option value="">Select a Gender</option>
                </select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>*
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control" style="max-height: 200px;"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DataConsent" /> @Html.DisplayNameFor(model => model.DataConsent)
                </label><br />
                <a class="mb-1" role="button" data-toggle="collapse" href="#collapseSumConsent" aria-expanded="false" aria-controls="collapseSumConsent">
                    Read Consent Agreement
                </a>
                <div class="collapse" id="collapseSumConsent">
                    <p><b>Consent to:</b> Collection of Personal Information. The member acknowledges that the collection, use and/or disclosure of personal information is required for the management of the Member's and their dependants' participation or engagement with GROW, including, but not limited to, the administration of the membership for the GROW market, and participation in other programs offered by GROW. The Member hereby consents to the collection, use, and/or disclosure of the Member's personal information as required to facilitate the foregoing.</p>
                </div>
            </div>
            @if (Model.MemberDocuments.Count() > 0)
            {
                <div class="form-group">
                    <label class="control-label">Current Documents:</label>
                    <div class="ml-md-3">
                        @{
                            int fileCount = Model.MemberDocuments.Count();
                            if (fileCount > 0)
                            {
                                var firstFile = Model.MemberDocuments.FirstOrDefault();
                                if (fileCount > 1)
                                {
                                    <a class="" role="button" data-toggle="collapse" href="#collapseSum@(Model.ID)" aria-expanded="false" aria-controls="collapseSum@(Model.ID)">
                                        <span class="badge badge-info">@fileCount</span> Current Documents...
                                    </a>
                                    <div class="collapse" id="collapseSum@(Model.ID)">
                                        @{
                                            foreach (var d in Model.MemberDocuments)
                                            {
                                                <div id="@d.ID">
                                                    <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> 
                                                    <button class="btn btn-sm modal-link btnDeleteFile" title="Delete File" type="button" value="@d.ID">&#x274C;</button>
                                                </div><br />
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div id="@firstFile.ID">
                                        <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                                        <button class="btn btn-sm modal-link btnDeleteFile" title="Delete File" type="button" value="@firstFile.ID">&#x274C;</button>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="control-label">Income Verification Documents:</label><br />
                <input id="files" type="file" class="" name="theFiles" multiple="multiple" />
            </div><br />
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MemberRestrictions" class="control-label"></label>
                <div class="row">
                    <div class="col-5 mr-0">
                        <input type="text" value="Available Restrictions" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("availRestrictionOptions", (MultiSelectList)ViewBag.availOptsR, new { @id = "availRestrictionOptions", @size = 5, @class = "form-control" })
                    </div>
                    <div class="col-1 ml-0 mr-0 my-auto">
                        <div class="row mb-2">
                            <div class="col-12">
                                <button type="button" id="btnAddR" class="btn btn-success btn-sm" style="width: 30px;"><strong>+</strong></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" id="btnRemoveR" class="btn btn-danger btn-sm" style="width: 30px;"><strong>-</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 ml-0">
                        <input type="text" value="Selected Restrictions" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("selectedRestrictionOptions", (MultiSelectList)ViewBag.selOptsR, new { @id = "selectedRestrictionOptions", @size = 5, @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MemberConcerns" class="control-label"></label>
                <div class="row">
                    <div class="col-5 mr-1">
                        <input type="text" value="Available Concerns" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @id = "availOptions", @size = 5, @class = "form-control" })
                    </div>
                    <div class="col-1 ml-0 mr-0 my-auto">
                        <div class="row mb-2">
                            <div class="col-12">
                                <button type="button" id="btnAddC" class="btn btn-success btn-sm" style="width: 30px;"><strong>+</strong></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" id="btnRemoveC" class="btn btn-danger btn-sm" style="width: 30px;"><strong>-</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 ml-1">
                        <input type="text" value="Selected Concerns" style="width: 100%; height: 25px; text-align: center; font-size: 14px;" disabled readonly />
                        @Html.ListBox("selectedHealthOptions", (MultiSelectList)ViewBag.selOpts, new { @id = "selectedHealthOptions", @size = 5, @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Income Source(s)</label>
                <hr />
                <div>
                    @if (Model.MemberIncomes.Count() >= 1)
                    {
                        <div id="IncomeSource1">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl1" name="IncomeSource1" class="form-control" asp-items="ViewBag.IncomeSources1">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" name="IncomeAmount1" id="txt1" value="@Model.MemberIncomes.ElementAt(0).IncomeAmount" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="1" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS1" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div id="IncomeSource1" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl1" class="form-control" asp-items="ViewBag.IncomeSources1">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" id="txt1" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="1" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS1" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    @if (Model.MemberIncomes.Count() >= 2)
                    {
                        <div id="IncomeSource2">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl2" name="IncomeSource2" class="form-control" asp-items="ViewBag.IncomeSources2">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" name="IncomeAmount2" id="txt2" value="@Model.MemberIncomes.ElementAt(1).IncomeAmount" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="2" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS2" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div id="IncomeSource2" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl2" class="form-control" asp-items="ViewBag.IncomeSources2">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" id="txt2" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="2" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS2" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    @if (Model.MemberIncomes.Count() >= 3)
                    {
                        <div id="IncomeSource3">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl3" name="IncomeSource3" class="form-control" asp-items="ViewBag.IncomeSources3">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" name="IncomeAmount3" id="txt3" value="@Model.MemberIncomes.ElementAt(2).IncomeAmount" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="3" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS3" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div id="IncomeSource3" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl3" class="form-control" asp-items="ViewBag.IncomeSources3">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" id="txt3" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="3" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS3" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    @if (Model.MemberIncomes.Count() >= 4)
                    {
                        <div id="IncomeSource4">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl4" name="IncomeSource4" class="form-control" asp-items="ViewBag.IncomeSources4">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" name="IncomeAmount4" id="txt4" value="@Model.MemberIncomes.ElementAt(3).IncomeAmount" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="4" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS4" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div id="IncomeSource4" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl4" class="form-control" asp-items="ViewBag.IncomeSources4">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" id="txt4" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="4" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS4" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    @if (Model.MemberIncomes.Count() >= 5)
                    {
                        <div id="IncomeSource5">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl5" name="IncomeSource5" class="form-control" asp-items="ViewBag.IncomeSources5">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" name="IncomeAmount5" id="txt5" value="@Model.MemberIncomes.ElementAt(4).IncomeAmount" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="5" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS5" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div id="IncomeSource5" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl5" class="form-control" asp-items="ViewBag.IncomeSources5">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" id="txt5" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="5" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS5" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    @if (Model.MemberIncomes.Count() == 6)
                    {
                        <div id="IncomeSource6">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl6" name="IncomeSource6" class="form-control" asp-items="ViewBag.IncomeSources6">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" name="IncomeAmount6" id="txt6" value="@Model.MemberIncomes.ElementAt(5).IncomeAmount" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="6" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS6" class="text-danger"></span>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div id="IncomeSource6" style="display: none;">
                            <div class="row">
                                <div class="col-6">
                                    <label class="control-label">Source</label>
                                    <select id="ddl6" class="form-control" asp-items="ViewBag.IncomeSources6">
                                        <option value="-1">Select an Income Source</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label">Income Amount</label>
                                    <input type="number" id="txt6" min="0" class="form-control" />
                                </div>
                                <div class="col-1">
                                    <a>
                                        <span data-number="6" class="btn btn-danger rmIncome" style="position: absolute; bottom: 0; right: 0;"><strong>X</strong></span>
                                    </a>
                                </div>
                            </div>
                            <span id="valIS6" class="text-danger"></span>
                            <br />
                        </div>
                    }
                </div><br />

                <a>
                    @if (Model.MemberIncomes.Count() == 6)
                    {
                        <span id="btnAddIncome" class="btn btn-success" style="display: none;"><strong>&#x271A; Add Income Source</strong></span>
                    }
                    else
                    {
                        <span id="btnAddIncome" class="btn btn-success"><strong>&#x271A; Add Income Source</strong></span>
                    }
                </a>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncomeVerified" /> @Html.DisplayNameFor(model => model.IncomeVerified)
                </label>
            </div>
        </div>
    </div>
    <div class="row ml-1">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <a asp-controller="Households" asp-action="Edit" asp-route-id="@Model.HouseholdID">
                        <input type="button" value="Cancel" class="btn btn-secondary" style="width: 75px;" />
                    </a>
                </div>
                <div class="ml-2"></div>
                <div class="form-group">
                    <input type="button" value="Save" class="btn btn-primary" style="width: 75px;" id="submitMemberForm" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {

            // IF RETURNING WITH ERRORS
            var deitaryRestrictions = @Html.Raw(Json.Serialize(ViewData["SelectedDietaryRestrictions"]));
            var healthConcerns = @Html.Raw(Json.Serialize(ViewData["SelectedHealthConcerns"]));
            var incomeSourcesString = @Html.Raw(Json.Serialize(ViewData["SelectedIncomeSources"]));

            if (deitaryRestrictions != null) {
                $("#availRestrictionOptions option").each(function (index) {
                    if ($.inArray($(this).val(), deitaryRestrictions) != -1){
                        $(this).prop('selected', true);
                    }
                });
                var SelectData = $("#availRestrictionOptions :selected").toArray();
                $("#selectedRestrictionOptions").append(SelectData);
                SelectData.remove;
            }

            if (healthConcerns != null) {
                $("#availOptions option").each(function (index) {
                    if ($.inArray($(this).val(), healthConcerns) != -1) {
                        $(this).prop('selected', true);
                    }
                });
                var SelectData = $("#availOptions :selected").toArray();
                $("#selectedHealthOptions").append(SelectData);
                SelectData.remove;
            }

            if (incomeSourcesString != null) {
                var incomeSources = incomeSourcesString.replace("{","").replace("}", "").split(",");
                $.each(incomeSources, function (index, value) {
                    var num = index + 1;
                    $("#IncomeSource" + num).css("display", "inline");
                    $("#ddl" + num).val(parseInt(incomeSources[index].split(":")[0].replace('"', '').replace('"', '')));
                    $("#txt" + num).val(parseInt(incomeSources[index].split(":")[1]).toFixed(2));
                    $("#ddl" + num).attr("name", "IncomeSource" + num);
                    $("#txt" + num).attr("name", "IncomeAmount" + num);
                });
            }

            // DELETE FILE
            $(".btnDeleteFile").click(function (event) {

                var doc = $(this).val();

                $.ajax({
                    type: "POST",
                    url: "/Members/DeleteFile",
                    data: { id: doc },
                    success: function () {
                        $("#" + doc).hide();
                    },
                    error: function () {
                        alert("Could not delete document at this time.");
                    }
                });
            });

            // SUMBIT FUNCTION
            $("#submitMemberForm").click(function (event) {

                // Validate DOB
                var dobValidated = false;

                if ($("#txtDOB").length) {

                    // Reset error message if applicable
                    $("#valDOB").text("");

                    if ($("#txtDOB").val()) {
                        var d = new Date();
                        var year = $("#txtDOB").val().split("-")[0];

                        if (parseInt(year) < 1900 || parseInt(year) > d.getFullYear()) {
                            $("#valDOB").text("Please enter a valid date.");
                        }
                        else {
                            dobValidated = true;
                        }
                    }
                }

                // Validate Income Sources
                var incomeSourcesValidated = true;

                if ($("#IncomeSource1").length) {
                    if ($("#IncomeSource1").is(":visible")) {
                        $("#valIS1").text("");
                        if ($("#ddl1 option:selected").val() != -1) {
                            if (!$.isNumeric($("#txt1").val()) || $("#txt1").val() == "") {
                                incomeSourcesValidated = false;
                                $("#valIS1").text("Please enter a valid income amount.");
                            }
                        }
                        else {
                            incomeSourcesValidated = false;
                            $("#valIS1").text("Please fill out income fields or remove income source.");
                        }
                    }
                }

                if ($("#IncomeSource2").length) {
                    if ($("#IncomeSource2").is(":visible")) {
                        $("#valIS2").text("");
                        if ($("#ddl2 option:selected").val() != -1) {
                            if (!$.isNumeric($("#txt2").val()) || $("#txt2").val() == "") {
                                incomeSourcesValidated = false;
                                $("#valIS2").text("Please enter a valid income amount.");
                            }
                        }
                        else {
                            incomeSourcesValidated = false;
                            $("#valIS2").text("Please fill out income fields or remove income source.");
                        }
                    }
                }

                if ($("#IncomeSource3").length) {
                    if ($("#IncomeSource3").is(":visible")) {
                        $("#valIS3").text("");
                        if ($("#ddl3 option:selected").val() != -1) {
                            if (!$.isNumeric($("#txt3").val()) || $("#txt3").val() == "") {
                                incomeSourcesValidated = false;
                                $("#valIS3").text("Please enter a valid income amount.");
                            }
                        }
                        else {
                            incomeSourcesValidated = false;
                            $("#valIS3").text("Please fill out income fields or remove income source.");
                        }
                    }
                }

                if ($("#IncomeSource4").length) {
                    if ($("#IncomeSource4").is(":visible")) {
                        $("#valIS4").text("");
                        if ($("#ddl4 option:selected").val() != -1) {
                            if (!$.isNumeric($("#txt4").val()) || $("#txt4").val() == "") {
                                incomeSourcesValidated = false;
                                $("#valIS4").text("Please enter a valid income amount.");
                            }
                        }
                        else {
                            incomeSourcesValidated = false;
                            $("#valIS4").text("Please fill out income fields or remove income source.");
                        }
                    }
                }

                if ($("#IncomeSource5").length) {
                    if ($("#IncomeSource5").is(":visible")) {
                        $("#valIS5").text("");
                        if ($("#ddl5 option:selected").val() != -1) {
                            if (!$.isNumeric($("#txt5").val()) || $("#txt5").val() == "") {
                                incomeSourcesValidated = false;
                                $("#valIS5").text("Please enter a valid income amount.");
                            }
                        }
                        else {
                            incomeSourcesValidated = false;
                            $("#valIS5").text("Please fill out income fields or remove income source.");
                        }
                    }
                }

                if ($("#IncomeSource6").length) {
                    if ($("#IncomeSource6").is(":visible")) {
                        $("#valIS6").text("");
                        if ($("#ddl6 option:selected").val() != -1) {
                            if (!$.isNumeric($("#txt6").val()) || $("#txt6").val() == "") {
                                incomeSourcesValidated = false;
                                $("#valIS6").text("Please enter a valid income amount.");
                            }
                        }
                        else {
                            incomeSourcesValidated = false;
                            $("#valIS6").text("Please fill out income fields or remove income source.");
                        }
                    }
                }


                if (dobValidated && incomeSourcesValidated) {

                    // Select all restrictions and concerns before post
                    if ($("#selectedRestrictionOptions").length) {
                        $("#selectedRestrictionOptions option").each(function (index) {
                            $(this).prop('selected', true);
                        });
                    }

                    if ($("#selectedHealthOptions").length) {
                        $("#selectedHealthOptions option").each(function (index) {
                            $(this).prop('selected', true);
                        });
                    }

                    // Submit Form
                    $("#theMemberForm").submit();
                }
            });

            // MULTI-SELECT
            $("#btnAddR").click(function (event) {
                if ($("#availRestrictionOptions").val() != null) {
                    var SelectData = $("#availRestrictionOptions :selected").toArray();
                    $("#selectedRestrictionOptions").append(SelectData);
                    SelectData.remove;
                }
            });

            $("#btnRemoveR").click(function (event) {
                if ($("#selectedRestrictionOptions").val() != null) {
                    var SelectData = $("#selectedRestrictionOptions :selected").toArray();
                    $("#availRestrictionOptions").append(SelectData);
                    SelectData.remove;
                }
            });

            $("#btnAddC").click(function (event) {
                if ($("#availOptions").val() != null) {
                    var SelectData = $("#availOptions :selected").toArray();
                    $("#selectedHealthOptions").append(SelectData);
                    SelectData.remove;
                }
            });

            $("#btnRemoveC").click(function (event) {
                if ($("#selectedHealthOptions").val() != null) {
                    var SelectData = $("#selectedHealthOptions :selected").toArray();
                    $("#availOptions").append(SelectData);
                    SelectData.remove;
                }
            });

            // INCOME SOURCES
            $("#btnAddIncome").click(function () {
                if (!$("#IncomeSource1").is(":visible")) {
                    $("#IncomeSource1").css("display", "inline");
                    $("#ddl1").attr("name", "IncomeSource1");
                    $("#txt1").attr("name", "IncomeAmount1");
                }
                else if (!$("#IncomeSource2").is(":visible")) {
                    $("#IncomeSource2").css("display", "inline");
                    $("#ddl2").attr("name", "IncomeSource2");
                    $("#txt2").attr("name", "IncomeAmount2");
                }
                else if (!$("#IncomeSource3").is(":visible")) {
                    $("#IncomeSource3").css("display", "inline");
                    $("#ddl3").attr("name", "IncomeSource3");
                    $("#txt3").attr("name", "IncomeAmount3");
                }
                else if (!$("#IncomeSource4").is(":visible")) {
                    $("#IncomeSource4").css("display", "inline");
                    $("#ddl4").attr("name", "IncomeSource4");
                    $("#txt4").attr("name", "IncomeAmount4");
                }
                else if (!$("#IncomeSource5").is(":visible")) {
                    $("#IncomeSource5").css("display", "inline");
                    $("#ddl5").attr("name", "IncomeSource5");
                    $("#txt5").attr("name", "IncomeAmount5");
                }
                else if (!$("#IncomeSource6").is(":visible")) {
                    $("#IncomeSource6").css("display", "inline");
                    $("#ddl6").attr("name", "IncomeSource6");
                    $("#txt6").attr("name", "IncomeAmount6");
                }

                if ($("#IncomeSource1").is(":visible") && $("#IncomeSource2").is(":visible") && $("#IncomeSource3").is(":visible")
                    && $("#IncomeSource4").is(":visible") && $("#IncomeSource5").is(":visible") && $("#IncomeSource6").is(":visible")) {
                    $("#btnAddIncome").css("display", "none");
                }
            });

            $(".rmIncome").click(function () {
                var num = $(this).attr("data-number");
                if (num == 1) {
                    $("#IncomeSource1").css("display", "none");
                    $("#ddl1").removeAttr("name");
                    $("#txt1").removeAttr("name");
                }
                else if (num == 2) {
                    $("#IncomeSource2").css("display", "none");
                    $("#ddl2").removeAttr("name");
                    $("#txt2").removeAttr("name");
                }
                else if (num == 3) {
                    $("#IncomeSource3").css("display", "none");
                    $("#ddl3").removeAttr("name");
                    $("#txt3").removeAttr("name");
                }
                else if (num == 4) {
                    $("#IncomeSource4").css("display", "none");
                    $("#ddl4").removeAttr("name");
                    $("#txt4").removeAttr("name");
                }
                else if (num == 5) {
                    $("#IncomeSource5").css("display", "none");
                    $("#ddl5").removeAttr("name");
                    $("#txt5").removeAttr("name");
                }
                else if (num == 6) {
                    $("#IncomeSource6").css("display", "none");
                    $("#ddl6").removeAttr("name");
                    $("#txt6").removeAttr("name");
                }

                $("#btnAddIncome").css("display", "inline");
            });
        });
    </script>
}