@model Grow.Models.Faq

@{
    ViewData["Title"] = "Question Details";
}

<h2>Question Details: @Model.Question</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>        
    </dl>
</div>
<br />
<div>
    @if (User.IsInRole("SuperAdmin"))
    {
        <a href='@ViewData["returnURL"]'>
            <input type="button" value="Back to List" class="btn btn-secondary" />
        </a>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
    }
</div>
