@model Grow.Models.TransactionDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransactionDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transactions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transactions.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtendedCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtendedCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
