@model Grow.Models.Household

@{
    ViewData["Title"] = "Details";
}

<div class="media">
    <div class="media-body ml-3">
        <h2>@Model.HouseholdName Household</h2> <br />
        <div class="row">
            <div class="col-sm-6">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.MembershipNumber)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.MembershipNumber)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.NumOfMembers)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.NumOfMembers)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.City.CityName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FormattedPostalCode)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IncomeTotal)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IncomeTotal)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.LICOVerified)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LICOVerified)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.LICOVerifiedDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LICOVerifiedDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.RenewalDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.RenewalDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Active)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Active)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div>
    <h3>Members</h3>
    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            <div>
                <table class="table">
                    <tr>
                        <th>
                            <input type="submit" disabled="disabled" value="Name" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Age" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Gender" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Income" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Income Verified" class="btn btn-link" />
                        </th>
                        <th>
                            <a asp-controller="Households" asp-route-id="@Model.ID" asp-action="Edit">
                                <span class="btn btn-secondary"><strong>Manage Members</strong></span>
                            </a>
                        </th>
                    </tr>

                    @foreach (var member in Model.Members)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => member.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => member.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => member.Gender.GenderType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => member.IncomeAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => member.IncomeVerified)
                            </td>
                            <td>
                                <a asp-controller="Members" asp-action="Details" asp-route-id="@member.ID">
                                    View Details
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </dd>
    </dl>
</div> <br />
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.ID">
                    <input type="button" value="Edit" class="btn btn-primary" style="width: 75px;" />
                </a>
            </div>
        </div>
    </div>
    <a asp-action="Index">Back to List</a>
</div>
