@model Grow.Models.Transaction

@{
    ViewData["Title"] = "Delete Transaction";
}

<h3>Are you sure you want to delete this Sale?</h3>
<hr />
<div class="media">
    <div class="media-body ml-3">
        <div class="row">
            <div class="col-sm-6">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Household.HouseholdName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Household.HouseholdName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Household.AddressWithCity)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Household.AddressWithCity)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.TransactionDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TransactionDate)
                    </dd>
                    <dt class="col-sm-4">
                        Sales Person
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Employee.FullName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Paid)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Paid)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="form-group" id="ListItems">
    <h3>Items</h3>
    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            <div id="ItemList">
                <table class="table">
                    <tr>
                        <th>
                            <input type="submit" disabled="disabled" value="Item No." class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Item" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Cost" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Quantity" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Ext. Cost" class="btn btn-link" />
                        </th>
                    </tr>

                    @foreach (var item in Model.TransactionDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Item.ItemNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExtendedCost)
                            </td>
                        </tr>
                    }

                    <tr>
                        <th>
                            <input type="submit" disabled="disabled" value="Total" class="btn btn-link" />
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                            @Model.TransactionTotal.ToString("C")
                        </th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </dd>
    </dl>
</div>
<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <div class="row">
        <div class="form-group">
            <a asp-action="Details" asp-route-id="@Model.ID">
                <input type="button" value="Cancel" class="btn btn-secondary" />
            </a>
        </div>
        <div class="ml-2"></div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </div>
</form>

